@import "~antd/dist/antd.css";
@import "./vars.css";
@import "../fonts/Montserrat/style.css";
@import "./antd-overrites.css";

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 14px;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  position: relative;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
}

.global-loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
