.button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  min-width: 24px;
  min-height: 24px;
  font-size: 24px;

  cursor: pointer;
}
